.toggle-button:pressed .icon{
    -fx-background-color: linear-gradient(to bottom, #00aaff55, #00aaff99);
}

.toggle-button:hover{
    -fx-background-color: #0000001f;
}



.toggle-button{
    -fx-padding: 10;
    -fx-border-width: 0;
    -fx-border-color: #acacac33;
    -fx-background-color: #00000000;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.toggle-button:selected{
    -fx-border-width: 0;
    -fx-border-color: #acacacaa;
    -fx-background-color: #00000016;
}

.icon{
    -fx-background-color: #494949;
    -fx-min-width: 15;
    -fx-max-width: 15;
    -fx-min-height: 15;
    -fx-max-height: 15;
    -fx-border-width: 10;
    -fx-content-display: graphic-only;
}