.close-icon{
    -fx-shape:"M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z";
}
.minimize-icon{
    -fx-shape: "M 0 251 L 256 251  L 256 261 L 0 261 z M 200 200 ";
    -fx-translate-y:-6;
}

.maximize-up-icon{
    -fx-shape:"M384 80c8.8 0 16 7.2 16 16V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16H384zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"
}
.maximize-down-icon{
    -fx-scale-x: 2.6;
    -fx-scale-y: 1.3;
    -fx-translate-x: 10;
    -fx-shape: "
    M 128.00,256.00
    C 128.00,256.00 128.00,456.00 128.00,456.00
    128.00,456.00 328.00,456.00 328.00,456.00
    328.00,456.00 328.00,257.00 328.00,257.00
    328.00,257.00 128.00,256.00 128.00,256.00 Z
    M 147.00,277.00
    C 147.00,277.00 307.00,277.00 307.00,277.00
    307.00,277.00 307.00,438.00 307.00,438.00
    307.00,438.00 147.00,438.00 147.00,438.00
    147.00,438.00 147.00,277.00 147.00,277.00 Z
    M 178.00,276.00
    C 178.00,276.00 307.00,278.00 307.00,278.00
    307.00,278.00 306.00,406.00 306.00,406.00
    306.00,406.00 378.00,406.00 378.00,406.00
    378.00,406.00 378.00,206.00 378.00,206.00
    378.00,206.00 178.00,206.00 178.00,206.00
    178.00,206.00 178.00,276.00 178.00,276.00 Z
    M 198.00,228.00
    C 198.00,228.00 358.00,228.00 358.00,228.00
    358.00,228.00 358.00,386.00 358.00,386.00
    358.00,386.00 329.00,387.00 329.00,387.00
    329.00,387.00 328.00,256.00 328.00,256.00
    328.00,256.00 198.00,256.00 198.00,256.00
    198.00,256.00 198.00,228.00 198.00,228.00 Z
    M 678.00,481.00 ";
}

.app-icon{
    -fx-shape: "M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z";
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.5;
}